In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

In [2]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [3]:
type(enron_data)

dict

In [4]:
# how many people?
# how many features does each person have?
enron_df = pd.DataFrame(data=enron_data).transpose()
print('DF Size: (persons, features)', enron_df.shape)
enron_df.head()

('DF Size: (persons, features)', (146, 21))

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [5]:
# how many people (in the dataset) were POI's?
enron_df["poi"].value_counts()

False    128
True      18
Name: poi, dtype: int64

In [6]:
# how many POI's were there in total?
import codecs

relpath = r'../final_project/poi_names.txt'
f = codecs.open(relpath)
x = 0
for line in f:
    print (x)
    print (line)
    x += 1

0
http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm

1


2
(y) Lay, Kenneth

3
(y) Skilling, Jeffrey

4
(n) Howard, Kevin

5
(n) Krautz, Michael

6
(n) Yeager, Scott

7
(n) Hirko, Joseph

8
(n) Shelby, Rex

9
(n) Bermingham, David

10
(n) Darby, Giles

11
(n) Mulgrew, Gary

12
(n) Bayley, Daniel

13
(n) Brown, James

14
(n) Furst, Robert

15
(n) Fuhs, William

16
(n) Causey, Richard

17
(n) Calger, Christopher

18
(n) DeSpain, Timothy

19
(n) Hannon, Kevin

20
(n) Koenig, Mark

21
(y) Forney, John

22
(n) Rice, Kenneth

23
(n) Rieker, Paula

24
(n) Fastow, Lea

25
(n) Fastow, Andrew

26
(y) Delainey, David

27
(n) Glisan, Ben

28
(n) Richter, Jeffrey

29
(n) Lawyer, Larry

30
(n) Belden, Timothy

31
(n) Kopper, Michael

32
(n) Duncan, David

33
(n) Bowen, Raymond

34
(n) Colwell, Wesley

35
(n) Boyle, Dan

36
(n) Loehr, Christopher

In [7]:
# what is James Prentice's total stock value?
enron_data['PRENTICE JAMES']['total_stock_value']

1095040

In [8]:
# how many emails from Wesley Colwell were sent to POI's?
enron_data['COLWELL WESLEY']['from_this_person_to_poi']

11

In [11]:
# what is the val of stock excercised by Jeffrey K Skilling?
enron_data['SKILLING JEFFREY K']['exercised_stock_options']

19250000